body {
  color: var(--white-color);
}

.home {
  min-height: 100vh;
}

.hello {
  text-transform: uppercase;
  font-size: 100px;
  text-align: center;
}

span {
  color: var(--blue-color);
}

.text_section {
  display: flex;
  align-items: center;
}

.code_link {
  margin-top: 20px;
  border: 2px solid var(--blue-color);
  color: var(--white-color);
  padding: 5px 20px;
  width: 150px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.code_link:hover {
  background-color: var(--blue-color);
  transition: 0.3s ease-in-out;
}

.image {
  width: 700px;
}

@media (max-width: 800px) {
  .hello {
    font-size: 40px;
  }

  .image {
    width: 350px;
  }

  .text_section {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .code_link {
    width: 60px;
    padding: 2.5px 10px;
    margin-top: 10px;
  }

  .text {
    text-align: center;
  }
}
