@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Monoton&family=Montserrat:wght@300;500&family=Poppins:wght@300&family=Roboto+Condensed&family=Roboto:wght@100;300&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Herr+Von+Muellerhoff&family=Monoton&family=Montserrat:wght@300;500&family=Poppins:wght@300&family=Roboto+Condensed&family=Roboto:wght@100;300&family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

:root {
  --white-color: #f0f8ff;
  --blue-color: #00bfff;
  --dark-blue: #1b1644;
  --turqoise-color: paleturquoise;
}
